@import 'tailwindcss';

@theme {
  --breakpoint-*: initial;

  --breakpoint-xs: 28rem; /* 448px */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
  --breakpoint-3xl: 120rem; /* 1920px */
}

/* When defining theme variables that reference other variables, use the inline option */
@theme inline {

}
