@custom-variant hover-focus {
  &:hover,
  &:focus-visible {
    @slot;
  }
}

@custom-variant focus-visible-within {
  &:has(*:focus-visible) {
    @slot;
  }
}

@custom-variant link-exact-active {
  .router-link-exact-active,  & {
    @slot;
  }
}

@custom-variant link-active {
  .router-link-active,  & {
    @slot;
  }
}
